<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="28875DanDuan.SubnetCalc" Publisher="CN=FDAD2CFB-44D8-4CC9-8BE8-3BB50BA3A3A0" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SubnetCalc</DisplayName>
    <PublisherDisplayName>DanDuan</PublisherDisplayName>
    <Logo>icon 50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SubnetCalc.App">
      <VisualElements DisplayName="Subnet Calculator" Logo="icon 150.png" SmallLogo="icon 30.png" Description="App for calculating hosts and subnets within a particular IP address and subnet" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="icon 310.png" />
        <SplashScreen Image="splash.png" BackgroundColor="#264384" />
      </VisualElements>
    </Application>
  </Applications>
</Package>